
.short-card-container,
.full-card-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
  width: 750px;
  z-index: 100;
}

.short-card-container {
  margin-top: 6%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.full-card-container {
  visibility: hidden;
  margin-bottom: 3%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

h3 {
  font-size: 1.3em;
  margin: 3% 0% 3% 0%;
}

.image-container,
.additional-images {
  background-color: #FFBF03;
  border-radius: 20px;
  height: 150px;
  width: 300px;
  margin: 20px;
  object-fit: cover;
  // max-height: 150px;
  // max-width: 300px;
}

.additional-images {
  // margin: 16% 0% 16% 0%;
}

.icon {
  height: 30px;
  margin-right: 10px;
  width: auto;
}

.small-card-details,
.additional-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 320px;
}

ul {
  margin-left: 15%;
}

li {
  margin: 5%;
  width: 100%;
  font-size: 1.2em;
}

.additional-info {
  align-self: flex-start;
  // margin-top: -3%;
}

.fav-icon {
  height: 70px;
  margin-bottom: 30%;
  width: 70px;
}

.card-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.view-listing-button,
.make-reservation-button {
  background-color: #FFBF03;
  border-radius: 15px;
  color: #fff;
  font-size: 1em;
  height: 50px;
  width: 120px;
}

.make-reservation-button {
  margin-top: -40%;
}

.view-listing-button:hover,
.make-reservation-button:hover,
.fav-icon:hover,
#form-btn {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .5s;
  background-color: #fcd150;
}

.additional-images-container {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
}

.expand {
  visibility: visible;
  .short-card-container {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

#location-name {
  font-size: 2em;
  color: #DB49CB;
}
