#user-login-form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  height: 450px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45%;
  margin-top: 100px;
}

.user-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.form-input {
  height: 45px;
  width: 100%;
  margin: 10px;
  font-size: 1.5em;
  color: #DB49CB;
  padding: 5px;
}

#logo-img {
  position: absolute;
  height: auto;
  width: 400px;
  top: -40px;
  left: 40%;
}

#title-img {
  height: auto;
  width: 90%;
  margin-left: 5%;
  margin-top: 150px;

}

.radio-btn {
  margin-right: -30px;
  margin-top: 10px;
}

.btn-label {
  color: #DB49CB;
  font-size: 1.5em;
}

#form-btn {
  width: 200px;
  height: 50px;
  background-color: #FFBF03;
  font-size: 1.5em;
  color: #fff;
  border-radius: 15px;
}
