.listing-container {
  align-items: center;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

#tubes {
  height: 80%;
  left: 85%;
  object-fit: cover;
  position: fixed;
  width: 150px;
  z-index: 10;
}

#overflow {
  overflow-y: scroll;
  padding-bottom: 100px;
}
