$randomNumber1: random(500);
$randomNumber2: random(500);
// $randomNumber3: random(500);

.fade-in {
	 animation: fade-in 1.2s linear infinite alternate both;
	 height: 20px;
	 width: auto;
	 z-index: 0;

}

#snowflake {
	left: $randomNumber2 + px;
	position: absolute;
	top: $randomNumber2 + px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.snowflake-container {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
