* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* login page */
.app-home {
  display: flex;
  background-image: url('../../data/DDR-Wallpaper.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.app-all {
  overflow: hidden;
}

#app-landing {
  overflow: hidden;
}

#app-map {
  background-color: #202020;
  background-size: cover;
}

#app-listing {
  overflow-y: scroll;
}

#app-account {
  overflow: hidden;
}
