#account-page {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
}

#account-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#account-avatar {
  border-radius: 500px 0px 0px 500px;
  border: solid 10px #FFF;
  height: 300px;
}

#account-name {
  color: #202020;
  font-size: 3.5em;
}

#account-email {
  color: #DB49CB;
  font-size: 2em;
}

#account-display {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px 500px 500px 0px;
  padding: 15px;
  width: 50%;
  height: 300px;
  margin-left: 20px;
  border: solid 10px #02A1FF;
  justify-content: space-around;
}

#account-listing {
  display: block;
  overflow-y: scroll;
  padding-bottom: 100px;
  width: 100%;
  margin-left: 50%;
}

#account-p {
  width: 90%;
}
