.sidebar-zone {
  width: 350px;
  position: absolute;
  z-index: 5;
  background-color: #202020;
  top: 80px;
  left: 70%;
  overflow: hidden;
  height: 100%;
  text-align: right;
  padding-right: 50px;
  color: #fff;
  padding-top: 50px;
}

.listing-button {
  height: 40px;
  width: 150px;
  background-color: #DB49CB;
  border: none;
  border-radius: 20px;
  color: #FFF;
  font-size: 1em;
}

.listing-button:hover {
  cursor: pointer;
  background-color: #02A1FF;
  border: none;
}

.nickname-header {
  color: #FFBF03;
  font-size: 2.5em;
}

.feature-item {
  color: #02A1FF;
  list-style: none;
}

#area-listings {
  margin: 6% 4% 6% 4%;
}
