#map-image {
  height: 100vh;
  margin-top: -3vh;
  width: auto;
}

.map {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: -30vh;
  overflow: hidden;
  position: relative;
  top: 50px;
}

#cap-hill {
  border: 2px pink solid;
  height: 19vh;
  left: 1vh;
  margin-right: 33vh;
  position: relative;
  top: -33vh;
  width: 13vh;
  z-index: 10;
}

.active-hood:hover {
  background-color: rgba(255, 81, 237, 0.2)
}

#lohi-1 {
  border: 2px pink;
  border-left: 100px solid transparent;
  height: 15vh;
  left: -32vh;
  position: relative;
  top: -80.5vh;
  width: 13.5vh;
  z-index: 10;
}

  #park-hill-1 {
    background-color: #202020;
    height: 7vh;
    left: 34.5vh;
    position: relative;
    top: -116vh;
    width: 13.5vh;
    z-index: 11;
  }

  #park-hill-2 {
    border: 2px pink;
    height: 46vh;
    left: 24.5vh;
    position: relative;
    top: -122vh;
    width: 22.5vh;
    z-index: 10;
  }

  #rino-1 {
    border: 2px pink;
    height: 20vh;
    left: -5.5vh;
    position: relative;
    top: -157vh;
    width: 34.5vh;
    z-index: 10;
  }

  #rino-3 {
    background-color: #202020;
    height: 25vh;
    left: 19.5vh;
    position: relative;
    top: -171vh;
    width: 9vh;
    z-index: 10;
  }

  #rino-4 {
    border-bottom: 90px solid #202020;
    border-right: 75px solid transparent;
    height: 0;
    left: -5.5vh;
    position: relative;
    top: -190vh;
    width: 0;
    z-index: 10;
  }

  #rino-5 {
   border-right: 33px solid transparent;
   border-top: 80px solid #202020;
   height: 0;
   left: -6.5vh;
   position: relative;
   top: -215vh;
   width: 0;
   z-index: 10;
 }

 .active-hood:hover {
   cursor: pointer;
 }
