#map-image {
  height: 110vh;
  width: auto;
  margin-top: -5vh;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cap-hill {
  border: 2px pink solid;
  height: 21vh;
  width: 14.5vh;
  position: relative;
  z-index: 10;
  top: -36vh;
  margin-right: 33vh;
}

.active-hood:hover {
  background-color: rgba(255, 81, 237, 0.2)
}

#lohi-1 {
  border: 2px pink;
  width: 15.5vh;
  height: 16vh;
  position: relative;
  z-index: 10;
  top: -87.5vh;
  left: -36vh;
  border-left: 100px solid transparent;
}

#lohi-2 {
    width: 0;
    height: 0;
    border-bottom: 100px solid #202020;
    border-left: 100px solid transparent;
    position: relative;
    z-index: 10;
    top: -99.5vh;
    left: -31.5vh;
  }

  #park-hill-1 {
    background-color: #202020;
    // border-right: 100px solid transparent;
    width: 13.5vh;
    height: 7vh;
    position: relative;
    z-index: 11;
    top: -141vh;
    left: 37.5vh;
  }

  #park-hill-2 {
    border: 2px pink;
    width: 24.5vh;
    height: 51vh;
    position: relative;
    z-index: 10;
    top: -147vh;
    left: 26.5vh;
  }

  #rino-1 {
    border: 2px pink;
    width: 37.5vh;
    height: 23vh;
    position: relative;
    z-index: 10;
    top: -187vh;
    left: -5.5vh;
  }

  #rino-2 {
    width: 0;
    height: 0;
    border-bottom: 114px solid #202020;
    border-left: 120px solid transparent;
    position: relative;
    z-index: 10;
    top: -203vh;
    left: 3.5vh;
  }

  #rino-3 {
    width: 12vh;
    height: 25vh;
    background-color: #202020;
    position: relative;
    z-index: 10;
    top: -218vh;
    left: 19.5vh;
  }

  #rino-4 {
    width: 0;
    height: 0;
    border-bottom: 90px solid #202020;
    border-right: 75px solid transparent;
    // background-color: #202020;
    position: relative;
    z-index: 10;
    top: -237vh;
    left: -7.5vh;
  }

  #rino-5 {
   width: 0;
   height: 0;
   border-top: 80px solid #202020;
   border-right: 33px solid transparent;
   position: relative;
   z-index: 10;
   top: -263vh;
   left: -6.5vh;
 }
