#map-image {
  height: 100vh;
  width: auto;
  margin-top: -5vh;

}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  left: -30vh;
}

#cap-hill {
  border: 2px pink solid;
  height: 19vh;
  width: 13vh;
  position: relative;
  z-index: 10;
  top: -33vh;
  left: 1vh;
  margin-right: 33vh;
}

.active-hood:hover {
  background-color: rgba(255, 81, 237, 0.2)
}

#lohi-1 {
  border: 2px pink;
  width: 13.5vh;
  height: 15vh;
  position: relative;
  z-index: 10;
  top: -80.5vh;
  left: -32vh;
  border-left: 100px solid transparent;
}

// #lohi-2 {
//     width: 0;
//     height: 0;
//     border-bottom: 90px solid #202020;
//     border-left: 90px solid transparent;
//     position: relative;
//     z-index: 1;
//     top: -92.5vh;
//     left: -27.5vh;
//   }

  #park-hill-1 {
    background-color: #202020;
    // border-right: 100px solid transparent;
    width: 13.5vh;
    height: 7vh;
    position: relative;
    z-index: 11;
    top: -116vh;
    left: 34.5vh;
  }

  #park-hill-2 {
    border: 2px pink;
    width: 22.5vh;
    height: 46vh;
    position: relative;
    z-index: 10;
    top: -122vh;
    left: 24.5vh;
  }

  #rino-1 {
    border: 2px pink;
    width: 34.5vh;
    height: 20vh;
    position: relative;
    z-index: 10;
    top: -157vh;
    left: -5.5vh;
  }

  // #rino-2 {
  //   width: 0;
  //   height: 0;
  //   border-bottom: 114px solid #202020;
  //   border-left: 120px solid transparent;
  //   position: relative;
  //   z-index: 1;
  //   top: -184vh;
  //   left: 1.5vh;
  // }

  #rino-3 {
    width: 9vh;
    height: 25vh;
    background-color: #202020;
    position: relative;
    z-index: 10;
    top: -171vh;
    left: 19.5vh;
  }

  #rino-4 {
    width: 0;
    height: 0;
    border-bottom: 90px solid #202020;
    border-right: 75px solid transparent;
    position: relative;
    z-index: 10;
    top: -190vh;
    left: -5.5vh;
  }

  #rino-5 {
   width: 0;
   height: 0;
   border-top: 80px solid #202020;
   border-right: 33px solid transparent;
   position: relative;
   z-index: 10;
   top: -215vh;
   left: -6.5vh;
 }
