.avatar-img {
  height: 60px;
  width: auto;
}

.nav-bar {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #DB49CB;
  position: fixed;
  align-items: center;
  color: black;
  font-size: 1.2em;
  padding-right: 15px;
  width: 100%;
}

.logo-img {
  height: 150px;
}

.nav-btn {
  height: 58px;
}

.user-info {
  color: #fff;
  text-align: center;
}

#logout-btn {
  font-size: 1.2em;
  color: #DB49CB;
  background-color: #fff;
  width: 100px;
  border-radius: 5px;
  height: 40px;
}

.email {
  font-size: 0.8em;
}

.welcome-msg {
  width: 30%;
  text-align: center;
}

.user-display {
  display: flex;
  flex-direction: column;
}

.account-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  color: #FFF;
}
