.avatar-img {
  height: 60px;
  width: auto;
}

.nav-bar {
  align-items: center;
  background-color: #DB49CB;
  color: black;
  display: flex;
  font-size: 1.2em;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  padding-right: 15px;
  position: fixed;
  width: 100%;
  z-index: 100;

}

.logo-img {
  height: 150px;
}

.nav-btn {
  height: 35px;
}

.user-info {
  color: #FFBF03;
  font-size: 1em;
  text-align: center;
}

#logout-btn {
  background-color: #fff;
  border-radius: 15px;
  color: #DB49CB;
  font-size: .8em;
  height: 30px;
  width: 80px;
}

#logout-btn:hover {
  background-color: #02A1FF;
  border: none;
  color: #FFF;
  cursor: pointer;
}

.email {
  color: #FFF;
  font-size: 0.8em;
}

.welcome-msg {
  font-size: 1em;
  width: 30%;
  text-align: center;
}

.user-display {
  display: flex;
  flex-direction: column;
}

.account-btn {
  align-items: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  justify-content: center;
}

.account-btn:hover {
  color: #FFBF03;
}
